<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>start</title>

    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css"/><!--CSS RESET-->
    <link rel="stylesheet" type="text/css" href="../static/css/demo.css"><!--演示页面样式，使用时可以不引用-->

    <link href="../static/assets/css/main.css" rel="stylesheet"><!--可无视-->
    <link href="../static/dist/css/jquery.wizzy.css" rel="stylesheet">
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Arimo:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/all.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <!--<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">-->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="../static/css/toastr.min.css" rel="stylesheet"/>
    <script src="../static/js/toastr.min.js"></script>

    <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>

</head>
<body>

<div class="wrapper">
    <div class="info">
        <h2 style="font-size: 50px ">在线风格迁移的涂鸦应用<span>V1.0</span></h2>
        <p style="font-size: 20px">这是一个在线的风格迁移的涂鸦应用，通过语义风格的转移达到创作艺术大师的作品<br> 快来体验吧</p>
    </div>

    <!-- Start Wizzy -->
    <div class="wz-wrapper wizzy">
        <div class="wz-inner">
            <div class="wz-header">
                <nav>
                    <a href="#">第一步上传图片</a>
                    <a href="#">第二步选择或绘制语义地图</a>
                    <a href="#">第三部选择或绘制设计地图</a>
                </nav>
            </div>
            <div class="wz-body">
                <div class="wz-step">
                    <div class="container">
                        <div class="doodle-step">
                            <div id="drop_area"></div>
                        </div>
                    </div>
                </div>
                <div class="wz-step">
                    <div class="row">
                        <div style="width: 60%">
                            <canvas id="cavs" width="400px" height="320px"></canvas>
                        </div>
                        <div style="width: 40%">
                            <div>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="margin-left: 300px">
                                   >> 操作说明
                                </button>
                                <!-- 模态框 -->
                                <div class="modal fade" id="myModal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <!-- 模态框头部 -->
                                            <div class="modal-header">
                                                <h2 class="modal-title">绘制步骤</h2>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>

                                            <!-- 模态框主体 -->
                                            <div class="modal-body">

                                                <div class="img">
                                                    <img src="../static/images/bz1.png" width="300" height="200">
                                                    <div><h4>选择加载第一步中上传的图片</h4></div>
                                                </div>

                                                <div class="img">
                                                    <img src="../static/images/bz2.png" width="300" height="200">
                                                    <div><h4>分别使用一种颜色覆盖一种特征</h4></div>
                                                </div>

                                                <div class="img">
                                                    <img src="../static/images/bz3.png" width="300" height="200">
                                                    <div><h4>使用黑色舍弃不需要的特征以及特征交界处</h4></div>
                                                </div>

                                                <div class="img">
                                                    <img src="../static/images/f f2.png" width="300" height="200">
                                                    <div ><h4>直接从本地上传已经绘制好的语义图片</h4></div>
                                                </div>
                                            </div>
                                            <!-- 模态框底部 -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="doodle_button">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="使用红色选择特征">
                                    <input type="button" value="       " style="background: red" id="colorred">
                                </a>
                            </div>
                            <div class="doodle_button">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="使用绿色选择特征">
                                    <input type="button" value="       " style="background: green" id="colorgreen">
                                </a>
                            </div>
                            <div class="doodle_button">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="使用黄色选择特征">
                                    <input type="button" value="        " style="background: yellow" id="coloryellow">
                                </a>
                            </div>
                            <div class="doodle_button">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="使用黑色覆盖不需要的特征">
                                    <input type="button" value="        " style="background: black" id="colorblack">
                                </a>
                            </div>
                            <div class="doodle_button">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="使用调色板工具选择其他颜色">
                                    <input type="color" id="color">
                                </a>
                            </div>
                            <div class="doodle_button">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="移动圆点调节笔头大小">
                                    <input type="range" id="thick" value="5" min="0" max="100">
                                </a>
                            </div>

                            <div class="clear"></div>

                            <div class="doodle_button">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="点击按钮撤销上一步">
                                    <i class="fa fa-reply fa-2x" aria-hidden="true"  id="Cancel" ></i>
                                </a>
                            </div>

                            <div class="doodle_button">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="点击按钮清空画板">
                                    <i class="fa fa-times fa-2x" aria-hidden="true" id="Clear"></i>
                                </a>
                            </div>
                            <div class="doodle_button">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="点击使用线条工具">
                                    <i class="fa fa-minus fa-2x" aria-hidden="true" id="Line"></i>
                                </a>
                            </div>
                            <div class="doodle_button">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="点击使用橡皮擦工具">
                                    <i class="fa fa-eraser fa-2x" aria-hidden="true" id="Eraser"></i>
                                </a>
                            </div>

                            <div class="clear"></div>

                            <div class="doodle_button">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="点击载入图片">
                                    <i class="fa fa-download fa-3x" aria-hidden="true" onclick="InputMypic(`cavs`,pic)"></i>
                                </a>
                            </div>

                            <div class="clear"></div>

                            <div class="doodle_button">
                                选择语义地图
                                <br>
                                <input style="display: inline" class="btn-primary" type="file" id="pic_match"
                                       onchange="selectmap(this.id,`cavs`)"/>
                            </div>

                            <div class="clear"></div>

                            <div class="doodle_button">
                                <button  class="btn-lg btn-primary" onclick=" uploding(`cavs`) ">完成<i class="fa fa-check" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wz-step">
                    <div class="row">
                        <div style="width: 60%">
                            <canvas id="cavs2" width="400px" height="320px"></canvas>
                        </div>
                        <div style="width: 40%">
                            <div>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2" style="margin-left: 300px">
                                   >> 操作说明
                                </button>
                                <!-- 模态框 -->
                                <div class="modal fade" id="myModal2">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <!-- 模态框头部 -->
                                            <div class="modal-header">
                                                <h2 class="modal-title">绘制步骤</h2>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>

                                            <!-- 模态框主体 -->
                                            <div class="modal-body">

                                                <div class="img">
                                                    <img src="../static/images/step31.png" width="300" height="200">
                                                    <div><h4>选择加载第一步中上传的图片</h4></div>
                                                </div>

                                                <div class="img">
                                                    <img src="../static/images/step33.png" width="300" height="200">
                                                    <div><h4>分别使用一种颜色覆盖一种特征</h4></div>
                                                </div>

                                                <div class="img">
                                                    <img src="../static/images/step32.png" width="300" height="200">
                                                    <div><h4>使用上一张绘制的颜色绘制自己的作品</h4></div>
                                                </div>

                                                <div class="img">
                                                    <img src="../static/images/step34.png" width="300" height="200">
                                                    <div ><h4>得到最终的图片，就像上面一样</h4></div>
                                                </div>
                                            </div>
                                            <!-- 模态框底部 -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="doodle_button">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="使用红色特征绘制">
                                    <input type="button" value="       " style="background: red" id="colorred2">
                                </a>
                            </div>
                            <div class="doodle_button">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="使用绿色特征绘制">
                                    <input type="button" value="       " style="background: green" id="colorgreen2">
                                </a>
                            </div>
                            <div class="doodle_button">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="使用黄色特征绘制">
                                    <input type="button" value="        " style="background: yellow" id="coloryellow2">
                                </a>
                            </div>
                            <div class="doodle_button">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="使用黑色覆盖不需要的特征">
                                    <input type="button" value="        " style="background: black" id="colorblack2">
                                </a>
                            </div>
                            <div class="doodle_button">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="使用调色板工具选择其他颜色">
                                    <input type="color" id="color2">
                                </a>
                            </div>
                            <div class="doodle_button">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="移动圆点调节笔头大小">
                                    <input type="range" id="thick2" value="5" min="0" max="100">
                                </a>
                            </div>

                            <div class="clear"></div>

                            <div class="doodle_button">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="点击按钮撤销上一步">
                                    <i class="fa fa-reply fa-2x" aria-hidden="true"  id="Cancel2" ></i>
                                </a>
                            </div>

                            <div class="doodle_button">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="点击按钮清空画板">
                                    <i class="fa fa-times fa-2x" aria-hidden="true" id="Clear2"></i>
                                </a>
                            </div>
                            <div class="doodle_button">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="点击使用线条工具">
                                    <i class="fa fa-minus fa-2x" aria-hidden="true" id="Line2"></i>
                                </a>
                            </div>
                            <div class="doodle_button">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="点击使用橡皮擦工具">
                                    <i class="fa fa-eraser fa-2x" aria-hidden="true" id="Eraser2"></i>
                                </a>
                            </div>

                            <div class="clear"></div>

                            <div class="doodle_button">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="点击载入图片">
                                    <i class="fa fa-download fa-3x" aria-hidden="true" onclick="InputMypic(`cavs2`,pic)"></i>
                                </a>
                            </div>

                            <div class="clear"></div>

                            <div class="doodle_button">
                                    选择设定地图
                                <br>
                                <input class="btn-primary" style="display: inline" type="file" id="pic_map"
                                       onchange="selectmap(this.id,`cavs2`)"/>
                            </div>

                            <div class="clear"></div>

                            <div class="doodle_button">
                                <button class="btn-primary btn-lg" onclick=" uploding(`cavs2`)">完成<i class="fa fa-check" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wz-navigator">
            </div>
        </div>
    </div>
    <!-- End Wizzy -->
</div>
<script>

    pic = "";
    picbase = "";
    isfinish = false;

    function InputMypic(cav, image) {
        if (image == "") {
            warninginfo("您还未选择风格图片，请返回第一步选择您想要的风格图片");
            // alert("您还未选择风格图片，请返回第一步选择您想要的风格图片")
        } else {
            var imgObj = new Image();
            imgObj.src = "data:image/jpeg;base64," + image;
            imgObj.onload = function () {
                var cvs = document.getElementById(cav);
                var ctx = cvs.getContext('2d');
                ctx.drawImage(this, 0, 0, 400, 320);//改变图片的大小到1024*768
                console.log("加载 ok");
            }
        }

    }

    function selectmap(sourceId, cav) {
        //  var url = getFileUrl(sourceId);
        // var imgPre = document.getElementById(targetId);
        // imgPre.src = url;
        //
        //
        // preImg(sourceId, targetId);
        var f = document.getElementById(sourceId).files;

        var imgObj = new Image();
        imgObj.src = "../static/input/" + f[0].name;
        imgObj.onload = function () {
            var cvs = document.getElementById(cav);
            var ctx = cvs.getContext('2d');
            ctx.drawImage(this, 0, 0, 400, 320);//改变图片的大小到1024*768
            console.log("加载" + sourceId + " ok");
        }

    }

    function getfinalimage() {
        console.log("提交");
        $.ajax({
            url: '/pred',
            type: 'GET',
            processData: false,
            contentType: false,
            success: function (msg) {
                if (msg) {
                    picbase = "../" + msg.results["base"];
                    console.log("已经得到了最终的图片");
                    isfinish = true;
                    console.log("1:" + isfinish);
                    //$('#result').html(msg.results.result.toString());
                } else
                    console.log("!!")
            }
        });
    }

    function uploding(id) {
        console.log(id)
        var imgUrl = document.getElementById(id).toDataURL(id);
        var imageDataB64 = imgUrl.substring(22);

        if (id === "cavs") {
            imgData = {img: imageDataB64, "cav": id};
            console.log("1111111111111111")
        } else if (id === "cavs2") {
            imgData = {img: imageDataB64, "cav": id};
             console.log("2222222222222222")
        }
        var senddata = JSON.stringify(imgData);

        $.ajax({
            url: "/upload",
            type: "POST",
            //data: { "uploadImg": imageDataB64},
            data: senddata,
            async: true,
            cashe: false,
            contentType: false,
            processData: false,
            success: function (msg) {
                if (msg) {
                    // alert(msg.results["massage"])
                    infoinfo(msg.results["massage"])
                } else {
                    errorinfo("传输错误！！！");
                    // alert("传输错误！！！")
                }

            },
            error: function () {
                errorinfo("上传失败！");
                // alert("上传失败！")
            }
        })

    }


    function getinputimg() {
        var img = new Image();
        img.src = $('img').attr('src');
        console.log(img)
        img.onload = function () {// 图片加载后执行的方法
            var base64 = getBase64Image(img);// 将图片转成base64格式的方法
            imgData = {img: base64, "cav": "pic"};

            pic = base64;
            var senddata = JSON.stringify(imgData);

            $.ajax({
                url: "/upload",
                type: "POST",
                //data: { "uploadImg": imageDataB64},
                data: senddata,
                async: true,
                cashe: false,
                contentType: false,
                processData: false,
                success: function (msg) {
                    if (msg) {
                        // alert(msg.results["massage"])
                        infoinfo(msg.results["massage"])
                    } else {
                        // alert("传输错误！！！")

                        errorinfo("传输错误！！！");
                    }

                },
                error: function () {
                    errorinfo("上传失败！");
                    // alert("上传失败！")
                }
            })


        }

        function getBase64Image(img) {
            var canvas = document.createElement("canvas");// 创建一个canvas
            canvas.width = img.width; // 设置对应的宽高
            canvas.height = img.height;
            var ctx = canvas.getContext("2d"); // 二维绘图环境
            ctx.drawImage(img, 0, 0, img.width, img.height); // 将图片画在画布上
            var ext = img.src.substring(img.src.lastIndexOf(".") + 1).toLowerCase(); // 获取到图片的格式
            var dataURL = canvas.toDataURL(); // 得到base64 编码的 dataURL
            return dataURL.substring(22);
        }


    }


</script>

<script src="../static/js/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="../static/dist/js/jquery.wizzy.js"></script>
<script src="../static/assets/js/script.js"></script>
<script src="../static/main.js"></script>
<script src="../static/js/canvas.js"></script>
<script src="../static/js/jquery.js"></script>
<script src="../static/js/upload.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript">
    var dragImgUpload = new DragImgUpload("#drop_area", {
        callback: function (files) {
            //回调函数，可以传递给后台等等
            // console.log(files)
            // var file = files[0];

            if (files[0].type.indexOf('image') === -1) {
                alert("您拖的不是图片！");
                // warninginfo("您拖的不是图片！");
                history.go(0);
            }
            getinputimg();
        }
    })

    $(function () {
        successinfo = function (info) {
            toastr.success(info);
        }

        infoinfo = function (info) {
            toastr.info(info);
        }
        warninginfo = function (info) {
            toastr.warning(info);
        }

        errorinfo = function (info) {
            toastr.info(info)
        }
    })

</script>

</body>
</html>
