<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>start</title>

    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css"/><!--CSS RESET-->
    <link rel="stylesheet" type="text/css" href="../static/css/demo.css"><!--演示页面样式，使用时可以不引用-->

    <link href="../static/assets/css/main.css" rel="stylesheet"><!--可无视-->


    <link href="../static/dist/css/jquery.wizzy.css" rel="stylesheet">


    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Arimo:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/all.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <!--<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">-->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="../static/css/toastr.min.css" rel="stylesheet"/>
    <script src="../static/js/toastr.min.js"></script>

</head>
<body>

<div class="wrapper">
    <div class="info">
        <h2 style="font-size: 50px ">在线风格迁移的涂鸦应用<span>0.22</span></h2>
        <p style="font-size: 20px">这是一个在线的风格迁移的涂鸦应用，通过语义风格的转移达到创作艺术大师的作品<br> 快来体验吧</p>
    </div>

    <!-- Start Wizzy -->
    <div class="wz-wrapper wizzy">
        <div class="wz-inner">
            <div class="wz-header">
                <nav>
                    <a href="#">第一步上传图片</a>
                    <a href="#">第二步选择或绘制语义地图</a>
                    <a href="#">第三部选择或绘制设计地图</a>
                </nav>
            </div>
            <div class="wz-body">
                <div class="wz-step">
                    <div class="container">
                        <div class="doodle-step">
                            <div id="drop_area"></div>
                        </div>
                    </div>
                </div>
                <div class="wz-step">
                    <div class="row doodle-step">
                        <div style="width: 70%">
                            <canvas id="cavs" width="400px" height="320px"></canvas>
                        </div>
                        <div style="width: 30%">
                            <div class="doodle_button">
                                <input type="button" value="       " style="background: red" id="colorred">
                            </div>
                            <div class="doodle_button">
                                <input type="button" value="       " style="background: green" id="colorgreen">
                            </div>
                            <div class="doodle_button">
                                <input type="button" value="        " style="background: yellow" id="coloryellow">
                            </div>
                            <div class="doodle_button">
                                <input type="button" value="撤销" id="Cancel">
                            </div>
                            <div class="doodle_button">
                                <input type="button" value="清屏" id="Clear">
                            </div>
                            <div class="doodle_button">
                                <input type="button" value="线条" id="Line">
                            </div>
                            <div class="doodle_button">
                                <input type="button" value="橡皮" id="Eraser">
                            </div>
                            <div class="doodle_button">
                                <input type="button" value="        " style="background: black" id="colorblack">
                            </div>
                            <div class="doodle_button">
                                <input type="color" id="color">
                            </div>
                            <div class="doodle_button">
                                <button onclick="InputMypic(`cavs`,pic)">加载风格图片</button>
                            </div>
                            <div class="doodle_button">
                                选择语义地图
                                <input style="display: inline" type="file" id="pic_match"
                                       onchange="selectmap(this.id,`cavs`)"/>
                            </div>
                            <div class="doodle_button">
                                <input type="range" id="thick" value="5" min="0" max="100">
                            </div>
                            <br>
                            <div class="doodle_button">
                                <button onclick=" uploding('cavs') ">完成</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wz-step">
                    <div class="row doodle-step">
                        <div style="width: 70%">
                            <canvas id="cavs2" width="400px" height="320px"></canvas>
                        </div>
                        <div style="width: 30%">
                            <div class="doodle_button">
                                <input type="button" value="       " style="background: red" id="colorred2">
                            </div>
                            <div class="doodle_button">
                                <input type="button" value="       " style="background: green" id="colorgreen2">
                            </div>
                            <div class="doodle_button">
                                <input type="button" value="        " style="background: yellow" id="coloryellow2">
                            </div>
                            <div class="doodle_button">
                                <input type="button" value="撤销" id="Cancel2">
                            </div>
                            <div class="doodle_button">
                                <input type="button" value="清屏" id="Clear2">
                            </div>
                            <div class="doodle_button">
                                <input type="button" value="线条" id="Line2">
                            </div>
                            <div class="doodle_button">
                                <input type="button" value="橡皮" id="Eraser2">
                            </div>
                            <div class="doodle_button">
                                <input type="button" value="        " style="background: black" id="colorblack2">
                            </div>
                            <div class="doodle_button">
                                <input type="color" id="color2">
                            </div>
                            <div class="doodle_button">
                                <button onclick="InputMypic(`cavs2`,pic)">加载风格图片</button>
                            </div>
                            <div class="doodle_button">
                                选择设定地图
                                <input style="display: inline" type="file" id="pic_map"
                                       onchange="selectmap(this.id,`cavs2`)"/>
                            </div>
                            <div class="doodle_button">
                                <input type="range" id="thick2" value="5" min="0" max="100">
                            </div>
                            <br>
                            <div class="doodle_button">
                                <button onclick=" uploding('cavs2')">完成</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wz-navigator">
            </div>
        </div>
    </div>
    <!-- End Wizzy -->
</div>
<script>

    pic = ""
    picbase = ""
    isfinish = false;

    function InputMypic(cav, image) {
        if (image == "") {
            warninginfo("您还未选择风格图片，请返回第一步选择您想要的风格图片");
            // alert("您还未选择风格图片，请返回第一步选择您想要的风格图片")
        } else {
            var imgObj = new Image();
            imgObj.src = "data:image/jpeg;base64," + image;
            imgObj.onload = function () {
                var cvs = document.getElementById(cav);
                var ctx = cvs.getContext('2d');
                ctx.drawImage(this, 0, 0, 400, 320);//改变图片的大小到1024*768
                console.log("加载 ok");
            }
        }

    }

    function selectmap(sourceId, cav) {
        //  var url = getFileUrl(sourceId);
        // var imgPre = document.getElementById(targetId);
        // imgPre.src = url;
        //
        //
        // preImg(sourceId, targetId);
        var f = document.getElementById(sourceId).files;

        var imgObj = new Image();
        imgObj.src = "../static/input/" + f[0].name;
        imgObj.onload = function () {
            var cvs = document.getElementById(cav);
            var ctx = cvs.getContext('2d');
            ctx.drawImage(this, 0, 0, 400, 320);//改变图片的大小到1024*768
            console.log("加载" + sourceId + " ok");
        }

    }

    function getfinalimage() {
        console.log("提交");
        $.ajax({
            url: '/pred',
            type: 'GET',
            processData: false,
            contentType: false,
            success: function (msg) {
                if (msg) {
                    picbase = "../" + msg.results["base"];
                    console.log("已经得到了最终的图片");
                    isfinish = true;
                    console.log("1:" + isfinish);
                    //$('#result').html(msg.results.result.toString());
                } else
                    console.log("!!")
            }
        });
    }

    function uploding(id) {
        var imgUrl = canvas.toDataURL(id);
        var imageDataB64 = imgUrl.substring(22);

        if (id === "cavs") {
            imgData = {img: imageDataB64, "cav": id};
        } else if (id === "cavs2") {
            imgData = {img: imageDataB64, "cav": id};
        }
        var senddata = JSON.stringify(imgData);

        $.ajax({
            url: "/upload",
            type: "POST",
            //data: { "uploadImg": imageDataB64},
            data: senddata,
            async: true,
            cashe: false,
            contentType: false,
            processData: false,
            success: function (msg) {
                if (msg) {
                    // alert(msg.results["massage"])
                    infoinfo(msg.results["massage"])
                } else {
                    errorinfo("传输错误！！！");
                    // alert("传输错误！！！")
                }

            },
            error: function () {
                errorinfo("上传失败！");
                // alert("上传失败！")
            }
        })

    }


    function getinputimg() {
        var img = new Image();
        img.src = $('img').attr('src');
        console.log(img)
        img.onload = function () {// 图片加载后执行的方法
            var base64 = getBase64Image(img);// 将图片转成base64格式的方法
            imgData = {img: base64, "cav": "pic"};

            pic = base64;
            var senddata = JSON.stringify(imgData);

            $.ajax({
                url: "/upload",
                type: "POST",
                //data: { "uploadImg": imageDataB64},
                data: senddata,
                async: true,
                cashe: false,
                contentType: false,
                processData: false,
                success: function (msg) {
                    if (msg) {
                        // alert(msg.results["massage"])
                        infoinfo(msg.results["massage"])
                    } else {
                        // alert("传输错误！！！")

                        errorinfo("传输错误！！！");
                    }

                },
                error: function () {
                    errorinfo("上传失败！");
                    // alert("上传失败！")
                }
            })


        }

        function getBase64Image(img) {
            var canvas = document.createElement("canvas");// 创建一个canvas
            canvas.width = img.width; // 设置对应的宽高
            canvas.height = img.height;
            var ctx = canvas.getContext("2d"); // 二维绘图环境
            ctx.drawImage(img, 0, 0, img.width, img.height); // 将图片画在画布上
            var ext = img.src.substring(img.src.lastIndexOf(".") + 1).toLowerCase(); // 获取到图片的格式
            var dataURL = canvas.toDataURL(); // 得到base64 编码的 dataURL
            return dataURL.substring(22);
        }


    }


</script>

<script src="../static/js/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="../static/dist/js/jquery.wizzy.js"></script>
<script src="../static/assets/js/script.js"></script>
<script src="../static/main.js"></script>
<script src="../static/js/canvas.js"></script>
<script src="../static/js/jquery.js"></script>
<script src="../static/js/upload.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript">
    var dragImgUpload = new DragImgUpload("#drop_area", {
        callback: function (files) {
            //回调函数，可以传递给后台等等
            // console.log(files)
            // var file = files[0];

            if (files[0].type.indexOf('image') === -1) {
                alert("您拖的不是图片！");
                // warninginfo("您拖的不是图片！");
                history.go(0);
            }
            getinputimg();
        }
    })

    $(function () {
        successinfo = function (info) {
            toastr.success(info);
        }

        infoinfo = function (info) {
            toastr.info(info);
        }
        warninginfo = function (info) {
            toastr.warning(info);
        }

        errorinfo = function (info) {
            toastr.info(info)
        }
    })
</script>

</body>
</html>
