<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--显示窗口宽度是客户端的屏幕宽度，显示的文字和图形的初始比例是1-->
    <title>Neural Doodle-step3</title>

    <link href="https://fonts.googleapis.com/css?family=Arimo:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/all.min.css">
    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="70">
<!--bootstrap滚动监听，导航栏移动-->
<!--header menu start-->
<div class="full_manu_header " id="menu_top"></div>
<!--header menu end-->

<!--navbar start-->
<nav class="navbar main_menu navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="step1.html">Step1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="step2.html">Step2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="step4.html">Step4</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--navbar end-->

<!--step3 start-->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="section_title">
                <h1>Step3 绘制样式涂鸦</h1>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="row doodle-step">
            <div style="width: 70%">
                <canvas id="cavs" width="400px" height="320px"></canvas>
            </div>
            <div style="width: 30%">
                <div class="doodle_button">
                    <input type="button" value="       " style="background: red" id="colorred">
                </div>
                <div class="doodle_button">
                    <input type="button" value="       " style="background: green" id="colorgreen">
                </div>
                <div class="doodle_button">
                    <input type="button" value="        "  style="background: yellow" id="coloryellow">
                </div>
                <div class="doodle_button">
                    <input type="color" id="color">
                </div>
                <div class="doodle_button">
                    <input type="button" value="下载" id="Download">
                </div>
                <div class="doodle_button">
                    <input type="button" value="撤销" id="Cancel">
                </div>
                <div class="doodle_button">
                    <input type="button" value="清屏" id="Clear">
                </div>
                <div class="doodle_button">
                    <input type="button" value="线条" id="Line">
                </div>
                <div class="doodle_button">
                    <input type="button" value="橡皮" id="Eraser">
                </div>
                <div class="doodle_button">
                    <input type="range" id="thick" value="5" min="0" max="100">
                </div>
            </div>
        </div>
    </div>

    <!--<div class="row">-->
    <!--<div class="doodle-step">-->
    <!--<canvas id="cavs" width="400px" height="320px"></canvas>-->
    <!--<br/>-->
    <!--<div class="doodle_button">-->
    <!--<input type="color" id="color">-->
    <!--</div>-->
    <!--<div class="doodle_button">-->
    <!--<input type="button" value="下载" id="Download">-->
    <!--</div>-->
    <!--<div class="doodle_button">-->
    <!--<input type="button" value="撤销" id="Cancel">-->
    <!--</div>-->
    <!--<div class="doodle_button">-->
    <!--<input type="button" value="清屏" id="Clear">-->
    <!--</div>-->
    <!--<div class="doodle_button">-->
    <!--<input type="button" value="线条" id="Line">-->
    <!--</div>-->
    <!--<div class="doodle_button">-->
    <!--<input type="button" value="橡皮" id="Eraser">-->
    <!--</div>-->
    <!--<div class="doodle_button">-->
    <!--<input type="range" id="thick" value="5" min="0" max="100">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</div>
<!--step3 end-->

<!--spliter start-->
<div class="spliter"></div>
<!--spliter end-->


<script src="../static/js/jquery.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/canvas.js"></script>
</body>
</html>